
body {
	font: .8em "Whitney SSm A", "Whitney SSm B", "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
	background-color : #fff;
	background-image: url('../images/background.jpg');
	background-size: cover;
	padding: 20px;
}

.jumbotron{
	background-color: #F0F0F0;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	margin-left: 25px;
	margin-right: 25px;
	text-align: center;
	/*background-image: url('../images/background2.jpg');*/
	box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
}

h3{
	text-align: center;
	color: #fff;
}

p{
	
	color: #fff;
	font-size: 20px
}

.thumbnail{
	box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
}

#myNavbar a:hover {
	color : #000;
}

#navbar{
	margin-left: 25px;
}

.menu{
	float: right;
	font-size: 20px;
	text-align: center;
}

#menu {
	text-align: center;
	margin-top: 12px;
	font-size : 11px;
	padding: 2px;
	font-weight: bold;
	font-family: "Whitney SSm A", "Whitney SSm B", "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;;
	border: 0px solid #D8E3EE;
	background-color: #278DCF;
}

#menu a {
	background-color: #278DCF;
	text-decoration : none;
	padding: 10px;
}
#menu a:hover {
	color : #000;
}

ul {
	margin-left:10px;
}


